<section class="custom">
  <article>
    <h2><i class="fal fa-images"></i>Diseña</h2>
    <div>
      <span>COLORES</span>
      <form>
        <input type="radio" />
        <input type="radio" />
        <input type="radio" />
      </form>
    </div>
  </article>
  <article>
    <h2><i class="fal fa-images"></i>Rellena</h2>
    <form>
      <label for="fullName">Nombre completo</label>
      <input id="fullName" type="text" />
      <label for="Position">Puesto</label>
      <input id="Position" type="text" />
      <label
        ><div><a>Añadir imagen</a></div></label
      >
      <label for="email">Email</label>
      <input id="email" type="text" />
      <label for="phone">Teléfono</label>
      <input id="phone" type="text" />
      <label for="linkedin">Linkedin</label>
      <input id="linkedin" type="text" />
      <label for="github">Github</label>
      <input id="github" type="text" />
      <!-- <label for="github">Github</label>
      <input id="github" type="text" /> -->
    </form>
  </article>
  <article>
    <h2><i class="fal fa-images"></i>Comparte</h2>
    <span><i class="fal fa-images"></i>Crear tarjeta</span>
    <a class="createCardButton">Crear tarjeta</a>
  </article>
</section>
