<main>
  <div class="mainContent">
    <div class="mainContent__logo">
      <img
        src="../assets/images/logo-awesome-profile-cards.svg "
        alt="awesome profile cards logo"
      />
    </div>
    <h1 class="mainContent__title">Crea tu tarjeta de visita</h1>
    <p class="mainContent__subtitle">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <div class="mainContent__articlesBox">
      <div class="mainContent__articlesBox--article">
        <article class="step1">
          <i class="far fa-object-ungroup"></i>
          <p class="articleTitle">diseña</p>
        </article>
        <article class="step2">
          <i class="far fa-keyboard"></i>
          <p class="articleTitle">rellena</p>
        </article>
        <article class="step3">
          <i class="fas fa-share-alt"></i>
          <p class="articleTitle">comparte</p>
        </article>
      </div>
    </div>
    <button class="btn" name="start" type="button">
      <a
        class="btnStart"
        href="../profilecards.html"
        title="go to profile card maker"
        >comenzar</a
      >
    </button>
  </div>
</main>
