<main class="container">
  <div class="mainContent wrapper">
    <div class="mainContent__logoBox">
      <img class="mainContent__logoBox--logo" src="./assets/images/logo-awesome-profile-cards.svg "
        alt="awesome profile cards logo"></img>
    </div>
    <h1 class="mainContent__title">Crea tu tarjeta de visita</h1>
    <p class="mainContent__subtitle">
      <span> Crea mejores contactos profesionales de</span>
      <span>forma fácil y cómoda</span>
    </p>
    <div class="mainContent__articlesBox">
      <article class="step1">
        <i class="far fa-object-ungroup"></i>
        <p class="articleTitle">diseña</p>
      </article>
      <article class="step2">
        <i class="far fa-keyboard"></i>
        <p class="articleTitle">rellena</p>
      </article>
      <article class="step3">
        <i class="fas fa-share-alt"></i>
        <p class="articleTitle">comparte</p>
      </article>
    </div>
    <a class="mainContent__btn" href="./profilecards.html" title="go to profile card maker">
      comenzar
    </a>
  </div>
</main>