<section class="preview">
  <div class="preview__button">
    <span><i class="far fa-trash-alt"></i> Reset</span>
  </div>
  <article class="preview__main">
    <div class="preview__main__name">
      <h2>Nombre Apellido</h2>
      <h3>Front-end developer</h3>
    </div>
    <div class="preview__main__photo">
      <img src="https://via.placeholder.com/240x200" alt="Foto de la tarjeta" />
    </div>
    <nav>
      <ul class="preview__main__icons">
        <li>
          <div class="preview__main__icons__item">
            <i class="fas fa-mobile-alt"></i>
          </div>
        </li>
        <li>
          <div class="preview__main__icons__item">
            <i class="far fa-envelope"></i>
          </div>
        </li>
        <li>
          <div class="preview__main__icons__item">
            <i class="fab fa-linkedin-in"></i>
          </div>
        </li>
        <li>
          <div class="preview__main__icons__item">
            <i class="fab fa-github-alt"></i>
          </div>
        </li>
      </ul>
    </nav>
  </article>
</section>
