<section class="preview">
  <div class="preview__button"><i class="far fa-trash-alt"></i> Reset</div>
  <article class="preview__main">
    <div class="preview__main__name">
      <h2>Nombre Apellido</h2>
      <h3>Front-end developer</h3>
    </div>
    <div class="preview__main__photo">
      <img src="" alt="Foto de la tarjeta" />
    </div>
    <nav class="preview__main__icons">
      <ul>
        <li><i class="fas fa-mobile-alt"></i></li>
        <li><i class="far fa-envelope"></i></li>
        <li><i class="fab fa-linkedin-in"></i></li>
        <li><i class="fab fa-github-alt"></i></li>
      </ul>
    </nav>
  </article>
</section>
