//COLORS
$color-dark: #000000;
$color-light: #ffffff;
$color-primary-dark: #114e4e;
$color-primary-medium: #438792;
$color-primary-light: #a2deaf;
$color-secondary-dark: #e17334;
$color-secondary-light: #f9f4dc;
//FONTS
$font-primary:'Open Sans', sans-serif;
$font-weight-semibold: 600;
$font-secondary:'Montserrat', sans-serif;
$font-weight-bold: 700;
$font-terciary:'Merriweather', serif;

