.wrapper {
  max-width: 688px;
  margin: auto;

  @include desktop {
    max-width: 944px;
  }
}

.preview .wrapper {
  max-width: 240px;
  margin: auto;
}

.main__grid{
  @media all and (min-width: 768px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}