.footer {
  margin: 0px auto 0px;
  border-top: 1px solid $color-medium-extralight;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .copy {
    font-family: $font-primary;
    font-size: 14px;
    color: $color-medium;
    margin-bottom: 12px;
    margin-top: 18px;

    @include tablet {
      margin-bottom: 0;
    }
  }
  .logo {
    @include tablet {
      margin-top: 10px;
    }
  }

  .logo--image {
    width: 103px;
    height: 40px;
  }
}
